<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>batafsil</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text">{{object.body}}</p>
            <p class="card-text"><small class="text-muted">{{object.data}}</small></p>
            <p class="card-text"><small class="text-muted">author: {{object.admin}}</small></p>
            </div>
            {% if object.photo %}
                <img src="{{object.photo.url}}" class="card-img-bottom" alt="...">
            {% endif %}
        </div>
        <div class="card border-success mb-3" style="max-width: 100%; margin: 50px;">
            <div class="card-header bg-transparent border-success">Header</div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
          </div>
    {% endblock content %}
</body>
</html>