<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reklama</title>
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
        <div class="box-2" style="margin: 100px 260px; font-family: sans-serif;">
            <h2 style="text-align: center; color:blue;">REKLAMA</h2>
            <br><br>
            <P>BIZ BILAN BOG'LANISH UCHUN +998931990997 TELEFON QILIGNG</P>
            <br><br>
            <a href="https://t.me/https://t.me/shukur19970" style="text-decoration: none;"> tg orqali bog'lanish</a>
        </div>
        <div class="card border-success mb-3" style="max-width: 100%; margin: 50px;">
            <div class="card-header bg-transparent border-success">Header</div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
          </div>

    {% endblock content %}
</body>
</html>