<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bizning jamoa</title>
</head>
<body>
    {% extends 'base.html'%}
    {% block content%}
    <div class="my-team" style="margin: 50px;">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvW6vwSP5lsCwSj0SF9tR1BrepyNDaCaT2uw&usqp=CAU" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">jon uik</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtEo5IPTM4bEapJeiQP8Tvb3xtC3wSsYWAJA&usqp=CAU" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">owa qiz</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDWrIiYIAdOLTJ5Ql5YtMUvL3y3kK0Vh5JXQ&usqp=CAU" class="card-img-top" alt="..."height="300px">
                <div class="card-body">
                  <h5 class="card-title">qizcha</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HFs4sBRI4CQMTLKPTN5-dPf-98YW57JGHy7Y4QM9wtn7oA8istSqTPZYtCRKjN4CXMk&usqp=CAU" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">stev jobs</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="card border-success mb-3" style="max-width: 100%; margin: 50px;">
        <div class="card-header bg-transparent border-success">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    {% endblock content%}
</body>
</html>